body {
    width: 300px;
    height: 450px;
    margin: 0px;
    padding: 10px;
    font-family: Arial, sans-serif;
    background: whitesmoke;
    /* border: 5px solid #000000;
    border-radius: 7px; */
    outline: 10px solid #000000;
}